/* Estilos para imágenes */
#aside .image-wrapper img,
.carousel-item img,
.carousel-image-container img,
.aside-item img,
.card-img-top {
  object-fit: cover;
  background-color: transparent; /* Eliminar fondo blanco para imágenes */
}

#aside .image-wrapper img {
  width: 100px;
  height: 100px;
  object-fit: contain; /* Diferente de las demás */
}

.carousel-item img {
  height: 500px; /* Altura específica del carrusel */
}

.aside-item img {
  width: 50%; /* Imagen ocupa la mitad del cuadro */
  height: 100%;
}

.card-img-top {
  height: 200px; /* Altura específica de las tarjetas */
}

/* Estilos generales para los botones */
.carousel-caption .btn,
.card-body .btn {
  background-image: linear-gradient(
    to right,
    #007bff 0%,
    #17a2b8 51%,
    #17a2b8 100%
  ); /* Gradiente azul */
  max-width: 200px;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;

  border: none;
  font-size: 20px; /* Tamaño de fuente */
  padding: 12px 30px;
}

.carousel-caption .btn:hover,
.card-body .btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Efectos de hover */
.aside-item:hover {
  background-color: transparent;
  border-bottom: solid 3px #0d6efd;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más suave */
  transition: transform 0.3s ease-in-out;
}

/* Estilo para las tarjetas */
.card {
  background-color: #4e5f7a; /* Fondo gris oscuro */
  color: white; /* Texto en blanco */
  border: none; /* Sin borde visible */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Estilo para el aside */
#aside {
  width: 25%;
  margin-left: 20px; /* Separación */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaciado */
  position: relative;
  max-height: 500px; /* Altura máxima */
  overflow-y: auto; /* Desplazamiento vertical */
}

.aside-item {
  display: flex;
  align-items: center;
  background-color: transparent; /* Fondo claro */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease;
  cursor: pointer; /* Interactivo */
  width: 100%; /* Ancho completo */
  height: 80px; /* Ajuste de altura */
}

.aside-item .game-name {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: none;
}

/* Estilos específicos para carrusel */
#gameCarousel {
  position: relative;
  width: 75%; /* Carrusel principal ocupa el 75% */
  border-radius: 15px; /* Borde redondeado */
  overflow: hidden; /* Asegura borde redondeado */
}

.carousel-indicators li {
  background-color: #0d6efd; /* Azul */
}
